@model Student

<div class="text-center">
    <h3>Öğrenciyi silmek istediğinize emin misiniz?</h3>
    <dl class="row">
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Department)
        </dd>
    </dl>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="DeleteConfirmed" method="POST" class="d-flex flex-column">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Sil" class="btn btn-danger w-100" />
            <a asp-action="Index" class="btn btn-primary">Geri Dön</a>
        </form>
    </div> 
</div>