@model IEnumerable<Student>
@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex mb-3">
    <a asp-action="Create" class="btn btn-link mx-2">Öğrenci Ekle</a>
    <form asp-action="QuerySyntax" method="POST" class="mx-2">
        <input type="submit" value="Query Syntax" class="btn btn-primary"/>
    </form>
    <form asp-action="MethodSyntax" method="POST" class="mx-2">
        <input type="submit" value="Method Syntax" class="btn btn-primary" />
    </form>
    <a asp-action="GetStudentsByDepartment" class="btn btn-primary mx-2">Öğrencileri Bölüme Göre Listele (Procedure)</a>
    <a asp-action="RawSql" class="btn btn-primary mx-2">RawSql</a>
    <button id="addStudentsByTransaction" class="btn btn-primary mx-2">Transaction İle Ekle</button>
    <a asp-action="BulkInsert" class="btn btn-primary mx-2">Bulk Insert</a>
</div>

<div class="text-center">
   <table class="table">
       <thead>
           <tr>
               <th>
                   @Html.DisplayNameFor(model => model.Name)
               </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
           </tr>
       </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => student.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => student.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => student.Department)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@student.Id">Düzenle</a>
                        <a asp-action="Details" asp-route-id="@student.Id">Detaylar</a>
                        <a asp-action="Delete" asp-route-id="@student.Id">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
   </table>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#addStudentsByTransaction").click(function(){
                var students = [
                    {Name: "Ali",Age: 20,Department: "Elektronik" },
                    {Name: "Ayşe",Age: 30,Department: "Bilgisayar" },
                ];

                $.ajax(
                    {
                        url: '@Url.Action("AddStudentsByTransaction","Home")',
                        type: 'POST',
                        contentType: 'application/json',
                        data:JSON.stringify(students),
                        success: function(){
                            alert("Öğrenciler başarıyla eklendi");
                            location.reload()
                        },
                        error: function(xhr,status,error){
                            alert("Bir Hata oluştu" + error)
                        }
                    }
                )
            })
        })
    </script>
}
