@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @ViewBag.User.Name <br />
    @ViewBag.User.Surname <br />
    @ViewBag.User.Age <br />
    <p>Models</p>
    Ad: @Model.Name <br />
    Soyad: @Model.Surname <br />
    Yaş: @Model.Age <br />

    
</div>
