@using _10_Models_Binding.ViewModels
@model HomePageViewModel

<div class="text-center">
    <p>Ad: @Model.Kisi.Ad</p>
    <p>Soyad: @Model.Kisi.Soyad</p>
    <p>Yas: @Model.Kisi.Yas</p>
    <p>AdresTanim: @Model.Adres.AdresTanim</p>
    <p>Sehir: @Model.Adres.Sehir</p>
</div>